* {
    --primaryColor: #080e0e;
    --primaryHover: rgb(14, 20, 20);
    --secondaryColor: rgb(54, 59, 71);
    --paragraphColor: rgb(64, 64, 94);
    --BgColor: #9fb0c0;
    --formColor: rgb(200, 210, 221);
    --projectCardColor: #1b2020;
    --textColor: #0e0f0f;
    --headerHeight:3rem;
    background-color: rgb(231, 219, 219);
  }
  
  .header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--headerHeight);
    padding: 2rem;
    background-color: #1b2020;
    z-index: 1000;
  }
  
  .header #user-detail-name a {
    color: white;
    font-weight: 600;
    cursor: pointer;
    background-color: #1b2020;
  }
  
  #resume-button-1{
    padding:10px;
    font-size: 14px;
    border: 0.5px solid rgb(226, 204, 204);
    border-radius: 5px;
  }
  #resume-button-1 a{
    color: #080e0e;
    font-size: 15px;
  }
  .navLists{
    background-color: #1b2020;
  }
  .navLists .navItem {
    background-color: #1b2020;
    
  }
  .navLists .navItem .nav-link{
    background-color: #1b2020;
  }
  .nav-link a{
    color: white;    
  }
  @media screen and (max-width: 768px) {
    .header .navBar {
      background: var(projectCardColor);
      position: absolute;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      width: 80%;
      border-radius: 1rem;
      padding: 1rem;
      top: -100rem;
      left: 50%;
      transform: translate(-50%);
      box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
      z-index: 1000;
    }
    .header #user-detail-name a {
      color: white;
      font-weight: 600;
      cursor: pointer;
      background-color: #1b2020;
    }
    .header .navBar .navLists {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin: auto;
      padding: 1rem 0;
    }
    .header .navBar .navLists .navItem {
      padding: 1rem 0;
    }
    .header .navBar .navLists .navItem .nav-link {
      color: white;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .header .navBar .navLists .navItem .nav-link :hover {
      color: var(--primaryColor);
    }
    .header .navBar .navLists .navItem .nav-link .headerNumber {
      color: var(--primaryHover);
    }
    .header .navBar .navLists .btn {
      margin-top: 1rem;
    }
    .header .navBar .navLists .btn a {
      color: white;
    }
    .header .navBar .closeNavBar {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
    .header .navBar .closeNavBar:hover .icon {
      color: var(--primaryColor);
    }
    .header .activeNavbar {
      top: 6rem;
    }
  }
   
  #resume-button-1{
    padding:10px;
    font-size: 14px;
    border: 0.5px solid rgb(226, 204, 204);
    border-radius: 5px;
  }
  #resume-button-1 a{
    color: white;
    font-size: 15px;
  }
  .activeHeader {
    background-color: var(--projectCardColor);
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
  }
  
  @media screen and (min-width: 760px) {
    .toggleNavBar, .closeNavBar {
      display: none;
    }
    .header {
      padding: 2.5rem 2rem;
    }
    .header .navBar .navLists {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 0 1rem;
    }
    .header .navBar .navItem {
      padding: 0 1rem;
    }
    .header .navBar .navItem .nav-link {
      color: white;
      font-size: 1.2rem;
    }
    .header .navBar .navItem .nav-link:hover {
      color: var(--primaryColor);
    }
    .header .navBar .btn {
      margin-left: 1rem;
    }
    .header .navBar .btn a {
      color: var(--primaryColor);
    }
  }
   
  #resume-button-1{
    padding:10px;
    font-size: 14px;
    border: 0.5px solid rgb(226, 204, 204);
    border-radius: 5px;
  }
  #resume-button-1 a{
    color: #080e0e;
    font-size: 15px;
  }
  @media screen and (min-width: 960px) {
    .header {
      padding: 2.5rem 5rem;
    }
    .header .navBar .navLists {
      padding: 0 2rem;
    }
    .header .navBar .navLists .navItem {
      padding: 0 2rem;
    }
     
  #resume-button-1{
    padding:10px;
    font-size: 14px;
    border: 0.5px solid rgb(226, 204, 204);
    border-radius: 5px;
  }
  #resume-button-1 a{
    color: #080e0e;
    font-size: 15px;
  }
} 